@using Backend.Models.Features.Jobs
@using Frontend.Components
@using Frontend.Features.Jobs.Models

@if (Job != null)
{
    <td>@Job.Model.Name</td>
    <td>@Job.Model.Scenario</td>

    <td>
        @if (OnEdit != null)
        {
            <button class="btn btn-primary" @onclick="@OnEditPressed">Edit</button>
        }
    </td>
}

@code
{
    [Parameter]
    public JobModelView? Job { get; set; }

    [Parameter]
    public Func<JobModelView, Task>? OnEdit { get; set; }

    private async Task OnEditPressed()
    {
        if (OnEdit != null && Job != null)
        {
            await OnEdit(Job);
        }
    }
}