@using Backend.Models.Features.Jobs
@using Frontend.Features.Jobs.Components
@using Frontend.Features.Jobs.Models

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Scenario</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        @if (Jobs != null)
        {
            @for (int jobIndex = 0, c = Jobs.Count; jobIndex < c; ++jobIndex)
            {
                var model = Jobs[jobIndex];

                <tr>
                    <th scope="row">@(jobIndex + 1)</th>
                    <JobComponent Job="@model" OnEdit="@OnJobEdit"/>
                </tr>
            }
        }

        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public List<JobModelView>? Jobs { get; set; }

    [Parameter]
    public Func<JobModelView, Task>? OnJobEdit { get; set; }
}