@using Backend.Models.Features.Workers
@using Frontend.Features.Workers.Components

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Worker ID</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        @if (Workers != null)
        {
            for (int i = 0, c = Workers.Count; i < c; ++i)
            {
                var worker = Workers[i];

                <tr>
                    <th scope="row">@(i + 1)</th>
                    <WorkerComponent Worker="@worker" />
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public List<WorkerModel>? Workers { get; set; }
}