@using Backend.Models.Features.Jobs
@using Frontend.Components
@using Frontend.Features.Jobs.Models

@if (Job != null)
{
    <td>@Job.Model.Name</td>
    <td>@Job.Model.Scenario</td>

    <td>
        @if (OnEdit != null)
        {
            <button class="btn btn-primary" @onclick="@OnEditPressed">Edit</button>
        }
    </td>

    <td>
        @if (OnStart != null)
        {
            <button class="btn btn-info" @onclick="@OnStartPressed">Start</button>
        }
    </td>
}

@code
{
    [Parameter]
    public JobModelView? Job { get; set; }

    [CascadingParameter(Name = "OnEdit")]
    public JobFunc? OnEdit { get; set; }

    [CascadingParameter(Name = "OnStart")]
    public JobFunc? OnStart { get; set; }

    private async Task OnEditPressed()
    {
        if (OnEdit != null && Job != null)
        {
            await OnEdit(Job);
        }
    }

    private async Task OnStartPressed()
    {
        if (OnStart != null && Job != null)
        {
            await OnStart(Job);
        }
    }
}